<div class="panel panel-default" *ngFor="let g of games | async | slice:0:numOfGames">
    <div class="panel-body row justify-content-center align-items-center">
        <img src="{{'https://squiggle.com.au/'+g.homeTeam.logo}}" class="img-rounded team-logo" alt="{{g.homeTeam.name}}">
        <div>
            <h4 class="display-4" >{{g.homeTeam.name}}</h4>
            <p *ngIf="result === inputPanelType" >{{g.hscore}}</p>
        </div>
        <div class="match-details">
            <p>{{g.date}}</p>
            <p>{{g.venue}}</p>
            <p *ngIf="result === inputPanelType">Winner is {{g.winner}}</p>
        </div>
        <div>
            <h4 class="display-4" >{{g.awayTeam.name}}</h4>
            <p *ngIf="result === inputPanelType">{{g.ascore}}</p>
        </div>
        <img src="{{'https://squiggle.com.au/'+g.awayTeam.logo}}" class="img-rounded team-logo" alt="{{g.awayTeam.name}}">
    </div>
</div>
<div *ngIf="games | async as g">
    <div class="panel panel-default" *ngIf="g.length == 0">
        <div class="panel-body row justify-content-center align-items-center" >
            <h4 class="display-4" >No Games Available</h4>
        </div>
    </div>
</div>
<div class="panel panel-default" *ngFor="let g of tips | async | slice:0:numOfGames">
    <div class="panel-body row justify-content-center align-items-center">
        <img src="{{'https://squiggle.com.au/'+g.homeTeam.logo}}" class="img-rounded team-logo" alt="{{g.homeTeam.name}}">
        <div>
            <h4 class="display-4" >{{g.homeTeam.name}}</h4>
            <p *ngIf="tip === inputPanelType" >{{g.hconfidence}} %</p>
        </div>
        <div class="match-details">
            <p>{{g.date}}</p>
            <p>{{g.venue}}</p>
            <p>Source : {{g.source}}</p>
        </div>
        <div>
            <h4 class="display-4" >{{g.awayTeam.name}}</h4>
            <p *ngIf="tip === inputPanelType">{{(100.0 - g.hconfidence) | number:'2.1-2'}} %</p>
        </div>
        <img src="{{'https://squiggle.com.au/'+g.awayTeam.logo}}" class="img-rounded team-logo" alt="{{g.awayTeam.name}}">
    </div>
    <div class="panel panel-default" *ngIf="g.length == 0">
        <div class="panel-body row justify-content-center align-items-center" >
            <h4 class="display-4" >No Tips Available</h4>
        </div>
    </div>
</div>
<div *ngIf="tips | async as g">
    <div class="panel panel-default" *ngIf="g.length == 0">
        <div class="panel-body row justify-content-center align-items-center" >
            <h4 class="display-4" >No Games Available</h4>
        </div>
    </div>
</div>
