<header>
    <nav class="navbar navbar-expand-md navbar-dark sticky-top">
		<div class="container">
			<a routerLink="/" class="navbar-brand">
				<img src="assets/logo.png" alt="AFL Fanatics">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a routerLink="/matches" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show">MATCHES</a>
					</li>
					<li class="nav-item">
						<a routerLink="/teams" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show">TEAMS</a>
					</li>
					<li class="nav-item">
						<a routerLink="/tips" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show">TIPS</a>
					</li>
					<li class="nav-item">
						<a routerLink="/standings" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show">STANDINGS</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>