<header>
    <nav class="navbar navbar-light fixed-top" style="border-radius: 3px;background-color: rgb(1, 43, 93);">
        <a class="navbar-brand" routerLink="/">
            <img src="\assets\logo.png" width="85" height="70" class="d-inline-block align-top"
                alt="">
            AFL Fanatics
        </a>
        <ul class="navbar-nav list-group-horizontal ml-md-auto list-group">
            <a routerLink="/" class="nav-item list-group-item">Home</a>
            <a class="nav-item list-group-item">Contact</a>
            <a class="nav-item list-group-item">About us</a>
        </ul>
    </nav>
</header>