<section class="team-landing">
<div class="hero-image">
    <div class="hero-text">
      <h1>{{team.name}}</h1>
      <div class="team-logo-banner">
        <img src="{{'https://squiggle.com.au/'+team.logo}}" class="banner-logo" title="team logo">
      </div>
    </div>
</div>
<div class="container" style="margin:50px auto">
  <a routerLink="/matches" [state]="{data:team}">
    <h2 class="display-3">Results</h2>
  </a>
  <app-game-panel [inputPanelType]="2" [numOfGames]="1" [games]="previousGames"></app-game-panel>
  <a routerLink="/matches" [state]="{data:team}">
    <h2 class="display-3">Upcoming Matches</h2>
  </a>
  <app-game-panel [inputPanelType]="1" [numOfGames]="1" [games]="nextGames" [team]="team"></app-game-panel>
</div>
</section>