<div class="container">

    <table class="standings-table table table-striped">
        <thead class="thead-dark">
            <tr class="standings-header">
                <th scope="col">Rank</th>
                <th scope="col">Team name</th>
                <th scope="col">Points</th>
                <th class="desktop-only" scope="col">Played</th>
                <th scope="col">Won</th>
                <th scope="col">Lost</th>
                <th class="desktop-only" scope="col">Drawn</th>
                <th class="desktop-only" scope="col">Played for</th>
                <th class="desktop-only" scope="col">Played against</th>
            </tr>
        </thead>
        <tbody>
            <tr class="standings-data" *ngFor="let standing of standings | async">
                <th class="desktop-only" scope="row">{{standing.rank}}</th>
                <td class="d-md-none d-lg-none d-xl-none">{{standing.rank}}</td>
                <td>{{standing.name}}</td>
                <td>{{standing.pts}}</td>
                <td class="desktop-only" >{{standing.played}}</td>
                <td>{{standing.wins}}</td>
                <td>{{standing.losses}}</td>
                <td class="desktop-only">{{standing.draws}}</td>
                <td class="desktop-only">{{standing.for}}</td>
                <td class="desktop-only">{{standing.against}}</td>
            </tr>
        </tbody>

    </table>

</div>